\shared\USBR_derived.dss, ReddingAirport-RED <Air Temperature>, /USBR/REDDING_KRDD/TEMP-AIR/*/1Hour/USBR_DERIVED_SHASTA/
\shared\USBR_inputs.dss, ReddingAirport-RED <Humidity>, /USBR/REDDING_KRDD/RELHUM/*/1HOUR/USBR_DERIVED/
\shared\USBR_inputs.dss, ReddingAirport-RED <Shortwave Radiation>, /USBR/REDDING_RRAC1/SRO/*/1HOUR/USBR_BLESSED/
\shared\USBR_inputs.dss, ReddingAirport-RED <Cloudiness>, /USBR/REDDING_KRDD/CLOUD-FRACTION_0-1/*/1HOUR/USBR_BLESSED/
\shared\USBR_inputs.dss, ReddingAirport-RED <Wind Speed>, /USBR/REDDING_KRDD/SPEED-WIND/*/1HOUR/USBR_BLESSED/
\shared\USBR_derived.dss, ReddingAirport-RED <Air Temperature>, /USBR/REDDING_KRDD/TEMP-AIR/*/1Hour/USBR_DERIVED_SHASTA/
