<?xml version="1.0" encoding="UTF-8"?>
<SimulationContainer SimulationContainerName="ResSim-April_2024_test" Description="" AnalysisPeriod="2024_April" Alternative="ResSim" ProgramOrder="ResSim Only" WarmupTimeSteps="0" SimulationCount="1">
  <Simulation0 SimulationName="ResSim-April_2024_test" />
</SimulationContainer>

