<?xml version="1.0" encoding="UTF-8"?>
<SimulationContainer SimulationContainerName="test_rivers" Description="" AnalysisPeriod="2018" Alternative="ResSim Prescribed" ProgramOrder="ResSim Prescribed" WarmupTimeSteps="0" SimulationCount="1">
  <Simulation0 SimulationName="test_rivers" />
</SimulationContainer>

