<?xml version="1.0" encoding="UTF-8"?>
<SimulationContainer SimulationContainerName="W2 Shasta-May2025_test" Description="" AnalysisPeriod="May2025_fcst" Alternative="W2 Shasta" ProgramOrder="W2 Shasta and ResSim" WarmupTimeSteps="0" SimulationCount="1">
  <Simulation0 SimulationName="W2 Shasta-May2025_test" />
</SimulationContainer>

