<?xml version="1.0" encoding="UTF-8"?>
<SimulationContainer SimulationContainerName="W2 Shasta-F18-04-TTSP" Description="" AnalysisPeriod="2018-04-TTSP" Alternative="W2 Shasta" ProgramOrder="W2 Shasta and ResSim" WarmupTimeSteps="0" SimulationCount="1">
  <Simulation0 SimulationName="W2 Shasta-F18-04-TTSP" />
</SimulationContainer>

