Location,Parameter,Source DSS file,Source DSS record,number of destinations,Destination DSS file,Destination DSS record
WQ-RDD Redding Airport-Air Temperature,Air Temperature,forecast/simGroups/forecastGroup/bc.dss,/MR SAC.-CLEAR CR. TO SAC R./KRDD-AIR TEMPERATURE/TEMP-AIR//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/MR SAC.-CLEAR CR. TO SAC R./KRDD/TEMP-AIR//1HOUR/SACTRN_BC_SCRIPT/
WQ-RDD Redding Airport-DewPoint,Dewpoint Temperature,forecast/simGroups/forecastGroup/bc.dss,/MR SAC.-CLEAR CR. TO SAC R./KRDD-DEW POINT/TEMP-DEWPOINT//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/MR SAC.-CLEAR CR. TO SAC R./KRDD/TEMP-DEWPOINT//1HOUR/SACTRN_BC_SCRIPT/
WQ-RDD Redding Airport-Shortwave Radiation,Shortwave Radiation,forecast/simGroups/forecastGroup/bc.dss,/MR SAC.-CLEAR CR. TO SAC R./RRAC1-SOLAR RADIATION/IRRAD-SOLAR//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/MR SAC.-CLEAR CR. TO SAC R./RRAC1/IRRAD-SOLAR//1HOUR/SACTRN_BC_SCRIPT/
WQ-RDD Redding Airport-Cloudiness,Cloudiness,forecast/simGroups/forecastGroup/bc.dss,/MR SAC.-CLEAR CR. TO SAC R./RRAC1-CLOUD COVER/%-CLOUD COVER//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/MR SAC.-CLEAR CR. TO SAC R./RRAC1/%-CLOUD COVER//1HOUR/SACTRN_BC_SCRIPT/
WQ-RDD Redding Airport-Wind Speed,Wind Speed,forecast/simGroups/forecastGroup/bc.dss,/MR SAC.-CLEAR CR. TO SAC R./KRDD-WIND SPEED/SPEED-WIND//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/MR SAC.-CLEAR CR. TO SAC R./KRDD/SPEED-WIND//1HOUR/SACTRN_BC_SCRIPT/
WQ-RDD Redding Airport-Wind Direction,Wind Direction,forecast/simGroups/forecastGroup/bc.dss,/MR SAC.-CLEAR CR. TO SAC R./KRDD-WIND DIRECTION/DIR-WIND//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/MR SAC.-CLEAR CR. TO SAC R./KRDD/DIR-WIND//1HOUR/SACTRN_BC_SCRIPT/
WQ-Trinity Center-Air Temperature,Air Temperature,forecast/simGroups/forecastGroup/bc.dss,/MR SAC.-LEWISTON RES./TCAC1 - CALC DATA-AIR TEMPERATURE/TEMP-AIR//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/MR SAC.-LEWISTON RES./TCAC1/TEMP-AIR//1HOUR/SACTRN_BC_SCRIPT/
WQ-Trinity Center-DewPoint,Dewpoint Temperature,forecast/simGroups/forecastGroup/bc.dss,/MR Sac.-Lewiston Res./TCAC1 - Calc Data-Dew Point/Temp-DewPoint//1Hour//,1,shared/WTMP_SacTrn_Forecast.dss,/MR Sac.-Lewiston Res./TCAC1/Temp-DewPoint//1Hour/SACTRN_BC_SCRIPT/
WQ-Trinity Center-Shortwave Radiation,Shortwave Radiation,forecast/simGroups/forecastGroup/bc.dss,/MR SAC.-LEWISTON RES./TCAC1-SOLAR RADIATION/IRRAD-SOLAR//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/MR SAC.-LEWISTON RES./TCAC1/IRRAD-SOLAR//1HOUR/SACTRN_BC_SCRIPT/
WQ-Trinity Center-Wind Speed,Wind Speed,forecast/simGroups/forecastGroup/bc.dss,/MR SAC.-LEWISTON RES./TCAC1-WIND SPEED/SPEED-WIND//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/MR SAC.-LEWISTON RES./TCAC1/SPEED-WIND//1HOUR/SACTRN_BC_SCRIPT/
WQ-Trinity Center-Wind Direction,Wind Direction,forecast/simGroups/forecastGroup/bc.dss,/MR SAC.-LEWISTON RES./TCAC1-WIND DIRECTION/DIR-WIND//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/MR SAC.-LEWISTON RES./TCAC1/DIR-WIND//1HOUR/SACTRN_BC_SCRIPT/
WQ-Trinity R Met-Cloudiness,Cloudiness,forecast/simGroups/forecastGroup/bc.dss,/MR SAC.-TRINITY RIVER/TCAC1 - CALC DATA-CLOUD COVER/%-CLOUD COVER//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/MR SAC.-TRINITY RIVER/TCAC1/%-CLOUD COVER//1DAY/SACTRN_BC_SCRIPT/
WQ-Trinity R Met-Air Temperature,Air Temperature,forecast/simGroups/forecastGroup/bc.dss,/MR SAC.-TRINITY RIVER/TCAC1 - CALC DATA-AIR TEMPERATURE/TEMP-AIR//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/MR SAC.-TRINITY RIVER/TCAC1/TEMP-AIR//1HOUR/SACTRN_BC_SCRIPT/
Shasta Evap Balance Flow,FLOW-ACC-DEP,forecast/simGroups/forecastGroup/bc.dss,/SACRAMENTO RIVER/SHASTA LAKE/FLOW-ACC-DEP//1Day//,1,shared/WTMP_SacTrn_Forecast.dss,/SACRAMENTO RIVER/SHASTA LAKE/FLOW-ACC-DEP//1Day/SACTRN_BC_SCRIPT/
Shasta Total Outflow,FLOW-RELEASE,forecast/simGroups/forecastGroup/bc.dss,//SHASTA/FLOW-RELEASE//1Hour//,1,shared/WTMP_SacTrn_Forecast.dss,/SACRAMENTO RIVER/SHASTA LAKE/FLOW-RELEASE//1Hour/SACTRN_BC_SCRIPT/
Keswick Total Outflow,FLOW-KESWICK-CFS,forecast/simGroups/forecastGroup/bc.dss,/SACRAMENTO RIVER/SHASTA LAKE/FLOW-KESWICK-CFS//1Month//,1,shared/WTMP_SacTrn_Forecast.dss,/SACRAMENTO RIVER/SHASTA LAKE/FLOW-KESWICK-CFS//1Month/SACTRN_BC_SCRIPT/
Keswick Total Outflow HOUR,FLOW-RELEASE-KESWICK-CFS,forecast/simGroups/forecastGroup/bc.dss,//SHASTA/FLOW-RELEASE-KESWICK-CFS//1Hour//,1,shared/WTMP_SacTrn_Forecast.dss,//SHASTA/FLOW-RELEASE-KESWICK-CFS//1Hour/SACTRN_BC_SCRIPT/
Shasta - Pit River Inflow,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,//Shasta-Sac-in/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,//Shasta-Sac-in/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
Shasta - Squaw Creek Inflow,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,//Shasta-Pit-in/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,//Shasta-Pit-in/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
Shasta - McCloud River Inflow,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,//Shasta-McCloud-in/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,//Shasta-McCloud-in/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
Shasta - Sacramento River Inflow,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,//Shasta-Sulanharas-in/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,//Shasta-Sulanharas-in/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
Shasta - Pit River Water Temp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,//Shasta-Sac-in/TEMP-WATER//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,//Shasta-Sac-in/TEMP-WATER//1HOUR/SACTRN_BC_SCRIPT/
Shasta - Squaw Creek Water Temp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,//Shasta-Pit-in/TEMP-WATER//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,//Shasta-Pit-in/TEMP-WATER//1HOUR/SACTRN_BC_SCRIPT/
Shasta - McCloud River Water Temp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,//Shasta-McCloud-in/TEMP-WATER//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,//Shasta-McCloud-in/TEMP-WATER//1HOUR/SACTRN_BC_SCRIPT/
Whiskeytown Total Inflow,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,//Whiskeytown/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,//Whiskeytown/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
Spring Creek Tunnel Flow,FLOW-PP,forecast/simGroups/forecastGroup/bc.dss,//SPRING CREEK/FLOW-PP//1Hour//,1,shared/WTMP_SacTrn_Forecast.dss,/CLEAR CREEK/WHISKEYTOWN LAKE/FLOW-DIVERSION-SPRING-CR//1Hour/SACTRN_BC_SCRIPT/
Whiskeytown Dam Outflow,FLOW-CLEAR CREEK-CFS,forecast/simGroups/forecastGroup/bc.dss,/CLEAR CREEK/WHISKEYTOWN DAM/FLOW-RELEASE//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/CLEAR CREEK/WHISKEYTOWN DAM/FLOW-RELEASE//1HOUR/SACTRN_BC_SCRIPT/
Whiskeytown Evap Balance Flow,FLOW-ACC-DEP.,forecast/simGroups/forecastGroup/bc.dss,/CLEAR CREEK/WHISKEYTOWN LAKE/FLOW-ACC-DEP//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/CLEAR CREEK/WHISKEYTOWN LAKE/FLOW-ACC-DEP//1DAY/SACTRN_BC_SCRIPT/
Trinity Lake Evap Balance Flow,FLOW-ACC-DEP,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/TRINITY LAKE/FLOW-ACC-DEP//1Day//,1,shared/WTMP_SacTrn_Forecast.dss,/TRINITY RIVER/TRINITY LAKE/FLOW-ACC-DEP//1Day/SACTRN_BC_SCRIPT/
Trinity Lake Outflow,FLOW-RELEASE,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/TRINITY LAKE/FLOW-RELEASE//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/TRINITY RIVER/TRINITY LAKE/FLOW-RELEASE//1HOUR/SACTRN_BC_SCRIPT/
Lewiston Outflow,FLOW-RIVER REL. - CFS,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/LEWISTON RESERVOIR/FLOW-RIVER RELEASE//1Day//,1,shared/WTMP_SacTrn_Forecast.dss,/TRINITY RIVER/LEWISTON RESERVOIR/FLOW-RIVER RELEASE//1Day/SACTRN_BC_SCRIPT/
Clear Creek Tunnel Flow,FLOW-RELEASE,forecast/simGroups/forecastGroup/bc.dss,/CLEAR CREEK/CARR POWERHOUSE/FLOW-RELEASE//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,/CLEAR CREEK/CARR POWERHOUSE/FLOW-RELEASE//1HOUR/SACTRN_BC_SCRIPT/
Trinity - East Fork Trinity Inflow,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/EF TRINITY/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,//EF TRINITY/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
Trinity - Swift Creek Inflow,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/STUART FORK/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,//STUART FORK/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
Trinity - Stuart Fork Inflow,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/SWIFT CR/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,//SWIFT CR/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
Trinity - Trinity R Inflow,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/TRINITY RIVER/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,//TRINITY RIVER/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
Trinity - East Fork Trinity Water Temp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/EF TRINITY/TEMP-WATER//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,//EF TRINITY/TEMP-WATER//1HOUR/SACTRN_BC_SCRIPT/
Trinity - Swift Creek Water Temp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/STUART FORK/TEMP-WATER//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,//STUART FORK/TEMP-WATER//1HOUR/SACTRN_BC_SCRIPT/
Trinity - Stuart Fork Water Temp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/SWIFT CR/TEMP-WATER//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,//SWIFT CR/TEMP-WATER//1HOUR/SACTRN_BC_SCRIPT/
Trinity - Trinity R Water Temp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/TRINITY RIVER/TEMP-WATER//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,//TRINITY RIVER/TEMP-WATER//1HOUR/SACTRN_BC_SCRIPT/
Clear Creek Balance Flow,FLOW-BALANCE,forecast/simGroups/forecastGroup/bc.dss,//IGO/FLOW-BALANCE//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,//IGO/FLOW-BALANCE//1DAY/SACTRN_BC_SCRIPT/
ACID Outflow,FLOW,forecast/simGroups/forecastGroup/bc.dss,/ANDERSON-COTTONWOOD CANAL/SHARON AVE (11370700)/FLOW//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/ANDERSON-COTTONWOOD CANAL/SHARON AVE (11370700)/FLOW//1DAY/SACTRN_BC_SCRIPT/
BATTLE_CREEK,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,/USBR/BATTLE_CREEK/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/BATTLE_CREEK/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
BATTLE_CREEK Wtemp,TEMP-IN,forecast/simGroups/forecastGroup/bc.dss,/USBR/BATTLE_CREEK/TEMP-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/BATTLE_CREEK/TEMP-IN//1DAY/SACTRN_BC_SCRIPT/
Upper Clear Creek Wtemp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,/USBR/CLEAR CREEK WHI INFLOW ADJUSTED/TEMP-WATER//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/CLEAR CREEK WHI INFLOW ADJUSTED/TEMP-WATER//1DAY/SACTRN_BC_SCRIPT/
COTTONWOOD_CREEK,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,/USBR/COTTONWOOD_CREEK/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/COTTONWOOD_CREEK/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
COTTONWOOD_CREEK Temp,TEMP-IN,forecast/simGroups/forecastGroup/bc.dss,/USBR/COTTONWOOD_CREEK/TEMP-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/COTTONWOOD_CREEK/TEMP-IN//1DAY/SACTRN_BC_SCRIPT/
COW_CREEK,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,/USBR/COW_CREEK/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/COW_CREEK/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
COW_CREEK Temp,TEMP-IN,forecast/simGroups/forecastGroup/bc.dss,/USBR/COW_CREEK/TEMP-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/COW_CREEK/TEMP-IN//1DAY/SACTRN_BC_SCRIPT/
TRINITY R BROWNS CK,FLOW,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R BROWNS CK/FLOW//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R BROWNS CK/FLOW//1DAY/SACTRN_BC_SCRIPT/
TRINITY R BROWNS CK Wtemp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R BROWNS CK/TEMP-WATER//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R BROWNS CK/TEMP-WATER//1DAY/SACTRN_BC_SCRIPT/
TRINITY R CANYON CK,FLOW,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R CANYON CK/FLOW//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R CANYON CK/FLOW//1DAY/SACTRN_BC_SCRIPT/
TRINITY R CANYON CK Wtemp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R CANYON CK/TEMP-WATER//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R CANYON CK/TEMP-WATER//1DAY/SACTRN_BC_SCRIPT/
TRINITY R GRASS VALLEY CK,FLOW,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R GRASS VALLEY CK/FLOW//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R GRASS VALLEY CK/FLOW//1DAY/SACTRN_BC_SCRIPT/
TRINITY R GRASS VALLEY CK Wtemp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R GRASS VALLEY CK/TEMP-WATER//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R GRASS VALLEY CK/TEMP-WATER//1DAY/SACTRN_BC_SCRIPT/
TRINITY R INDIAN CK,FLOW,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R INDIAN CK/FLOW//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R INDIAN CK/FLOW//1DAY/SACTRN_BC_SCRIPT/
TRINITY R INDIAN CK Wtemp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R INDIAN CK/TEMP-WATER//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R INDIAN CK/TEMP-WATER//1DAY/SACTRN_BC_SCRIPT/
TRINITY R READING CK,FLOW,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R READING CK/FLOW//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R READING CK/FLOW//1DAY/SACTRN_BC_SCRIPT/
TRINITY R READING CK Wtemp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R READING CK/TEMP-WATER//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R READING CK/TEMP-WATER//1DAY/SACTRN_BC_SCRIPT/
TRINITY R RUSH CK,FLOW,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R RUSH CK/FLOW//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R RUSH CK/FLOW//1DAY/SACTRN_BC_SCRIPT/
TRINITY R RUSH CK Wtemp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R RUSH CK/TEMP-WATER//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R RUSH CK/TEMP-WATER//1DAY/SACTRN_BC_SCRIPT/
TRINITY R WEAVER CK,FLOW,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R WEAVER CK/FLOW//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R WEAVER CK/FLOW//1DAY/SACTRN_BC_SCRIPT/
TRINITY R WEAVER CK Wtemp,TEMP-WATER,forecast/simGroups/forecastGroup/bc.dss,/USBR/TRINITY R WEAVER CK/TEMP-WATER//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR/TRINITY R WEAVER CK/TEMP-WATER//1DAY/SACTRN_BC_SCRIPT/
Upper Clear Creek Inflow,FLOW,forecast/simGroups/forecastGroup/bc.dss,/USBR-LINEARINTERP/CLEAR CR ABOVE JCR INFLOW/FLOW//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/USBR-LINEARINTERP/CLEAR CR ABOVE JCR INFLOW/FLOW//1DAY/SACTRN_BC_SCRIPT/
FLOW-ZERO,FLOW-ZERO,forecast/simGroups/forecastGroup/bc.dss,//ZERO-BY-DAY/FLOW-ZERO//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,//ZERO-BY-DAY/FLOW-ZERO//1DAY/SACTRN_BC_SCRIPT/
FLOW-ZERO,FLOW-ZERO,forecast/simGroups/forecastGroup/bc.dss,//ZERO-BY-HOUR/FLOW-ZERO//1Hour//,1,shared/WTMP_SacTrn_Forecast.dss,//ZERO-BY-HOUR/FLOW-ZERO//1Hour/SACTRN_BC_SCRIPT/
Shasta - Storage,STORAGE,forecast/simGroups/forecastGroup/bc.dss,/SACRAMENTO RIVER/SHASTA LAKE/STORAGE//1Month//,1,shared/WTMP_SacTrn_Forecast.dss,/SACRAMENTO RIVER/SHASTA LAKE/STORAGE//1Month/SACTRN_BC_SCRIPT/
Whiskeytown - Storage,STORAGE,forecast/simGroups/forecastGroup/bc.dss,/CLEAR CREEK/WHISKEYTOWN LAKE/STORAGE//1Month//,1,shared/WTMP_SacTrn_Forecast.dss,/CLEAR CREEK/WHISKEYTOWN LAKE/STORAGE//1Month/SACTRN_BC_SCRIPT/
Trinity - Storage,STORAGE,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/TRINITY LAKE/STORAGE//1Month//,1,shared/WTMP_SacTrn_Forecast.dss,/TRINITY RIVER/TRINITY LAKE/STORAGE//1Month/SACTRN_BC_SCRIPT/
FIVE-BY-HOUR,FIVE-BY-HOUR,forecast/simGroups/forecastGroup/bc.dss,//FIVE-BY-HOUR/GATES-FIVE//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,//FIVE-BY-HOUR/GATES-FIVE//1Hour/SACTRN_BC_SCRIPT/
ONE-BY-HOUR,ONE-BY-HOUR,forecast/simGroups/forecastGroup/bc.dss,//ONE-BY-HOUR/GATES-ONE//1HOUR//,1,shared/WTMP_SacTrn_Forecast.dss,//ONE-BY-HOUR/GATES-ONE//1Hour/SACTRN_BC_SCRIPT/
Shasta Flow-in,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,//SHASTA/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,//SHASTA/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
Shasta Flow-in V,VOLUME-INFLOW,forecast/simGroups/forecastGroup/bc.dss,/SACRAMENTO RIVER/SHASTA LAKE/INFLOW//1MON//,1,shared/WTMP_SacTrn_Forecast.dss,/SACRAMENTO RIVER/SHASTA LAKE/INFLOW//1MON/SACTRN_BC_SCRIPT/
Shasta total release,VOLUME-RELEASE,forecast/simGroups/forecastGroup/bc.dss,/SACRAMENTO RIVER/SHASTA LAKE/TOTAL SHASTA RELEASE//1MON//,1,shared/WTMP_SacTrn_Forecast.dss,/SACRAMENTO RIVER/SHASTA LAKE/TOTAL SHASTA RELEASE//1MON/SACTRN_BC_SCRIPT/
Trinity Flow-in,FLOW-IN,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/TRINITY LAKE/FLOW-IN//1DAY//,1,shared/WTMP_SacTrn_Forecast.dss,/TRINITY RIVER/TRINITY LAKE/FLOW-IN//1DAY/SACTRN_BC_SCRIPT/
Trinity Flow-in V,VOLUME-INFLOW,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/TRINITY LAKE/INFLOW//1MON//,,1,shared/WTMP_SacTrn_Forecast.dss,/TRINITY RIVER/TRINITY LAKE/INFLOW//1MON/SACTRN_BC_SCRIPT/
Trinity total release,VOLUME-RELEASE,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/TRINITY LAKE/VOLUME-RELEASE//1MON//,1,shared/WTMP_SacTrn_Forecast.dss,/TRINITY RIVER/TRINITY LAKE/VOLUME-RELEASE//1MON/SACTRN_BC_SCRIPT/
Shasta - Storage daily,STORAGE,forecast/simGroups/forecastGroup/bc.dss,/SACRAMENTO RIVER/SHASTA LAKE/STORAGE-CVP//1Day//,1,shared/WTMP_SacTrn_Forecast.dss,/SACRAMENTO RIVER/SHASTA LAKE/STORAGE-CVP//1Day/SACTRN_BC_SCRIPT/
Whiskeytown - Storage daily,STORAGE,forecast/simGroups/forecastGroup/bc.dss,/CLEAR CREEK/WHISKEYTOWN LAKE/STORAGE-CVP//1Day//,1,shared/WTMP_SacTrn_Forecast.dss,/CLEAR CREEK/WHISKEYTOWN LAKE/STORAGE-CVP//1Day/SACTRN_BC_SCRIPT/
Trinity - Storage daily,STORAGE,forecast/simGroups/forecastGroup/bc.dss,/TRINITY RIVER/TRINITY LAKE/STORAGE-CVP//1Day//,1,shared/WTMP_SacTrn_Forecast.dss,/TRINITY RIVER/TRINITY LAKE/STORAGE-CVP//1Day/SACTRN_BC_SCRIPT/
