Location,Parameter,Source DSS file,Source DSS record,number of destinations,Destination DSS file,Destination DSS record
Redding Airport,Air Temperature,forecast/simGroups/forecastGroup/bc.dss,/USBR/REDDING_KRDD/TEMP-AIR//1Hour//,1,shared\forecast_test.dss, /USBR/REDDING_KRDD/TEMP-AIR//1Hour/USBR_DERIVED_SHASTA/
Redding Airport,Humidity,forecast/simGroups/forecastGroup/bc.dss,/USBR/REDDING_KRDD/RELHUM//1HOUR//,1,shared\forecast_test.dss, /USBR/REDDING_KRDD/RELHUM//1HOUR/USBR_DERIVED/
Redding Airport,Shortwave Radiation,forecast/simGroups/forecastGroup/bc.dss,/USBR/REDDING_RRAC1/SRO//1HOUR//,1,shared\forecast_test.dss, /USBR/REDDING_RRAC1/SRO//1HOUR/USBR_BLESSED/
Redding Airport,Cloudiness,forecast/simGroups/forecastGroup/bc.dss,/USBR/REDDING_KRDD/CLOUD-FRACTION_0-1//1HOUR//,1, shared\forecast_test.dss, /USBR/REDDING_KRDD/CLOUD-FRACTION_0-1//1HOUR/USBR_BLESSED/
Redding Airport,Wind Speed,forecast/simGroups/forecastGroup/bc.dss,/USBR/REDDING_KRDD/SPEED-WIND//1HOUR//,1, shared\forecast_test.dss, /USBR/REDDING_KRDD/SPEED-WIND//1HOUR/USBR_BLESSED/

Shasta-Distributed-in,Known Flow,forecast/simGroups/forecastGroup/bc.dss,//SHASTA/FLOW-ACC-DEP//1DAY//,1,shared/forecast_test.dss,/MASS_BALANCE/SHASTA/FLOW-DISTRIBUTED//1Day/USBR_RESSIM_DERIVED/
Shasta-Pit-in,Known Flow,forecast/simGroups/forecastGroup/bc.dss,//Shasta-Pit-in/FLOW-IN//1DAY//,1,shared/forecast_test.dss,/USBR/PIT_RIVER/FLOW//1DAY/USBR_BLESSED/
Shasta-Squaw-in,Known Flow,forecast/simGroups/forecastGroup/bc.dss,//Shasta-Sulanharas-in/FLOW-IN//1DAY//,1,shared/forecast_test.dss,/USBR/SQUAW_CREEK/FLOW//1DAY/USBR_BLESSED/
Shasta-McCloud-in,Known Flow,forecast/simGroups/forecastGroup/bc.dss,//Shasta-McCloud-in/FLOW-IN//1DAY//,1,shared/forecast_test.dss,/USBR/MCCLOUD_RIVER/FLOW//1DAY/USBR_BLESSED/
Shasta-Sac-in,Known Flow,forecast/simGroups/forecastGroup/bc.dss,//Shasta-Sac-in/FLOW-IN//1DAY//,1,shared/forecast_test.dss,/USBR/SACRAMENTO_RIVER/FLOW//1DAY/USBR_BLESSED/

Shasta-Pit-in,Temp-Water,forecast/simGroups/forecastGroup/bc.dss,//Shasta-Pit-in/TEMP-WATER//1HOUR//,1,shared/forecast_test.dss,/USBR/PIT_RIVER/TEMP-WATER//1HOUR/USBR_BLESSED/
Shasta-Sac-in,Temp-Water,forecast/simGroups/forecastGroup/bc.dss,//Shasta-Sac-in/TEMP-WATER//1HOUR//,1,shared/forecast_test.dss,/USBR/SACRAMENTO_RIVER/TEMP-WATER//1HOUR/USBR_BLESSED/
Shasta-McCloud-in,Temp-Water,forecast/simGroups/forecastGroup/bc.dss,//Shasta-McCloud-in/TEMP-WATER//1HOUR//,1,shared/forecast_test.dss,/USBR/MCCLOUD_RIVER/TEMP-WATER//1HOUR/USBR_BLESSED/
Shasta-Squaw-in,Temp-Water,forecast/simGroups/forecastGroup/bc.dss,//Shasta-Sac-in/TEMP-WATER//1HOUR//,1,shared/forecast_test.dss,/USBR/SQUAW_CREEK/TEMP-WATER//1HOUR/USBR_BLESSED/

Shasta-Outflow,Input Time Series,forecast/simGroups/forecastGroup/bc.dss,//SHASTA/FLOW-RELEASE//1HOUR//,1,shared/forecast_test.dss,/USBR/SHASTA_QOUT/FLOW//1HOUR/USBR_BLESSED/
PowerPlant-Outflow,Input Time Series,forecast/simGroups/forecastGroup/bc.dss,//SHASTA/FLOW-RELEASE//1HOUR//,1,shared/forecast_test.dss,/USBR/SHASTA_PGSUM/FLOW//1HOUR/USBR_BLESSED/
Keswick-Outflow,Input Time Series,forecast/simGroups/forecastGroup/bc.dss,//SHASTA/FLOW-RELEASE//1HOUR//,1,,shared/forecast_test.dss,/USBR/KESWICK_QOUT_SUM/FLOW//1HOUR/USBR_DERIVED/

SHASTA_RRU,Known Flow,forecast/simGroups/forecastGroup/bc.dss,//ZERO-BY-HOUR/FLOW-ZERO//1Hour//,1,shared/forecast_test.dss,/USBR/SHASTA_RRU/FLOW//1HOUR/SUPP/
SHASTA_RRM,Known Flow,forecast/simGroups/forecastGroup/bc.dss,//ZERO-BY-HOUR/FLOW-ZERO//1Hour//,1,shared/forecast_test.dss,/USBR/SHASTA_RRM/FLOW//1HOUR/SUPP/
SHASTA_RRL,Known Flow,forecast/simGroups/forecastGroup/bc.dss,//ZERO-BY-HOUR/FLOW-ZERO//1Hour//,1,shared/forecast_test.dss,/USBR/SHASTA_RRL/FLOW//1HOUR/SUPP/
SHASTA_SPILL,Known Flow,forecast/simGroups/forecastGroup/bc.dss,//ZERO-BY-HOUR/FLOW-ZERO//1Hour//,1,shared/forecast_test.dss,/USBR/SHASTA_SPILL/FLOW//1HOUR/SUPP/
KESWICK Balance,Known Flow,forecast/simGroups/forecastGroup/bc.dss,//ZERO-BY-HOUR/FLOW-ZERO//1Hour//,1,shared/forecast_test.dss,/MASS-BALANCE/KESWICK/FLOW-DISTRIBUTED//1Hour/USBR_RESSIM_DERIVED/
SPRING_CREEK_SPC,Known Flow,forecast/simGroups/forecastGroup/bc.dss,//Whiskeytown/FLOW-PP//1Hour//,1,shared/forecast_test.dss,/USBR/SPRING_CREEK_SPC/FLOW//1HOUR/USBR_BLESSED/
