Location,number of destinations,Destination DSS file,Destination DSS record
Shasta Lake,1,shared\WTMP_SacTrn_Forecast.dss,/Shasta Lake/IC/depth-temp///icPathsMap/
Keswick Reservoir,1,shared\WTMP_SacTrn_Forecast.dss,/Keswick Reservoir/IC/depth-temp///icPathsMap/
Trinity Lake,1,shared\WTMP_SacTrn_Forecast.dss,/Trinity Lake/IC/depth-temp///icPathsMap/
Lewiston Reservoir,1,shared\WTMP_SacTrn_Forecast.dss,/Lewiston Reservoir/IC/depth-temp///icPathsMap/
Whiskeytown Lake,1,shared\WTMP_SacTrn_Forecast.dss,/Whiskeytown Lake/IC/depth-temp///icPathsMap/
