Target Temperature Location, Parameter, Source DSS file, Source DSS record, Number of Destinations, Destination DSS file, Destination DSS record
Shasta,Water Temperature,forecast\CVP-ops\TempTarget-weekly.dss,//SHASTA/TEMP-WATER-TARGET//1WEEK/C:000001|TIER 1/,1,shared\WTMP_SacTrn_Forecast.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/SACTRN_BC_SCRIPT/
Shasta,Water Temperature,forecast\CVP-ops\TempTarget-weekly.dss,//SHASTA/TEMP-WATER-TARGET//1WEEK/C:000002|TIER 1/,1,shared\WTMP_SacTrn_Forecast.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/SACTRN_BC_SCRIPT/
Shasta,Water Temperature,forecast\CVP-ops\TempTarget-weekly.dss,//SHASTA/TEMP-WATER-TARGET//1WEEK/C:000003|TIER 1/,1,shared\WTMP_SacTrn_Forecast.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/SACTRN_BC_SCRIPT/
Shasta,Water Temperature,forecast\CVP-ops\TempTarget-weekly.dss,//SHASTA/TEMP-WATER-TARGET//1WEEK/C:000004|TIER 1/,1,shared\WTMP_SacTrn_Forecast.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/SACTRN_BC_SCRIPT/
Shasta,Water Temperature,forecast\CVP-ops\TempTarget-weekly.dss,//SHASTA/TEMP-WATER-TARGET//1WEEK/C:000005|TIER 1/,1,shared\WTMP_SacTrn_Forecast.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/SACTRN_BC_SCRIPT/
Shasta,Water Temperature,forecast\CVP-ops\TempTarget-weekly.dss,//SHASTA/TEMP-WATER-TARGET//1WEEK/C:000006|TIER 1/,1,shared\WTMP_SacTrn_Forecast.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/SACTRN_BC_SCRIPT/
Shasta,Water Temperature,forecast\CVP-ops\TempTarget-weekly.dss,//SHASTA/TEMP-WATER-TARGET//1WEEK/C:000007|TIER 1/,1,shared\WTMP_SacTrn_Forecast.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/SACTRN_BC_SCRIPT/
Shasta,Water Temperature,forecast\CVP-ops\TempTarget-weekly.dss,//SHASTA/TEMP-WATER-TARGET//1WEEK/C:000008|TIER 1/,1,shared\WTMP_SacTrn_Forecast.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/SACTRN_BC_SCRIPT/
Shasta,Water Temperature,forecast\CVP-ops\TempTarget-weekly.dss,//SHASTA/TEMP-WATER-TARGET//1WEEK/C:000009|TIER 1/,1,shared\WTMP_SacTrn_Forecast.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/SACTRN_BC_SCRIPT/
Shasta,Water Temperature,forecast\CVP-ops\TempTarget-weekly.dss,//SHASTA/TEMP-WATER-TARGET//1WEEK/C:000010|TIER 1/,1,shared\WTMP_SacTrn_Forecast.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/SACTRN_BC_SCRIPT/
Shasta,Water Temperature,forecast\CVP-ops\TempTarget-weekly.dss,//SHASTA/TEMP-WATER-TARGET//1WEEK/C:000011|TIER 1/,1,shared\WTMP_SacTrn_Forecast.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/SACTRN_BC_SCRIPT/
