# Location, parameter, Source DSS file, Source DSS record
<!-- -->
IGO, Flow, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, //IGO/FLOW-BALANCE/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
ACID Dam, Flow, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /ANDERSON-COTTONWOOD CANAL/SHARON AVE (11370700)/FLOW/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Battle Creek, Flow, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/BATTLE_CREEK/FLOW-IN/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Battle Creek, Temperature, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/BATTLE_CREEK/TEMP-IN/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Whiskeytown Lake, Temperature, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/CLEAR CREEK WHI INFLOW ADJUSTED/TEMP-WATER/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Cottonwood Creek, Flow, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/COTTONWOOD_CREEK/FLOW-IN/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Cottonwood Creek, Temperature, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/COTTONWOOD_CREEK/TEMP-IN/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Cow Creek, Flow, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/COW_CREEK/FLOW-IN/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Cow Creek, Temperature, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/COW_CREEK/TEMP-IN/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Browns Creek, Flow, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R BROWNS CK/FLOW/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Browns Creek, Temperature, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R BROWNS CK/TEMP-WATER/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Canyon Creek, Flow, , shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R CANYON CK/FLOW/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Canyon Creek, Temperature, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R CANYON CK/TEMP-WATER/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Grass Valley Creek, Flow, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R GRASS VALLEY CK/FLOW/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Grass Valley Creek, Temperature, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R GRASS VALLEY CK/TEMP-WATER/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Indian Creek, Flow, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R INDIAN CK/FLOW/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Indian Creek, Temperature, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R INDIAN CK/TEMP-WATER/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Reading Creek, Flow, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R READING CK/FLOW/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Reading Creek, Temperature, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R READING CK/TEMP-WATER/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Rush Creek, Flow, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R RUSH CK/FLOW/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Rush Creek, Temperature, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R RUSH CK/TEMP-WATER/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Weaver Creek, Flow, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R WEAVER CK/FLOW/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Weaver Creek, Temperature, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR/TRINITY R WEAVER CK/TEMP-WATER/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
Whiskeytown Lake, Flow, shared\WTMP_SacTrn_monthly_ave_tributaries.dss, /USBR-LINEARINTERP/CLEAR CR ABOVE JCR INFLOW/FLOW/01Jan3000/1Month/MONTHLY_MEAN_2000-2019/
<!-- -->
