Met Station Location, Met parameter, Source DSS file, Source DSS record, Number of Destinations, Destination DSS file, Destination DSS record
Redding Airport, Air Temperature, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR SAC.-CLEAR CR. TO SAC R./KRDD-AIR TEMPERATURE/TEMP-AIR//1HOUR/235.40.53.1.1/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR SAC.-CLEAR CR. TO SAC R./KRDD-AIR TEMPERATURE/TEMP-AIR//1HOUR/235.40.53.1.1/
Redding Airport, Dewpoint Temperature, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR SAC.-CLEAR CR. TO SAC R./KRDD-DEW POINT/TEMP-DEWPOINT//1HOUR/235.40.51.1.1/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR SAC.-CLEAR CR. TO SAC R./KRDD-DEW POINT/TEMP-DEWPOINT//1HOUR/235.40.51.1.1/
Redding Airport, Shortwave Radiation, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR SAC.-CLEAR CR. TO SAC R./RRAC1-SOLAR RADIATION/IRRAD-SOLAR//1HOUR/235.41.135.1.1/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR SAC.-CLEAR CR. TO SAC R./RRAC1-SOLAR RADIATION/IRRAD-SOLAR//1HOUR/235.41.135.1.1/
Redding Airport, Cloudiness, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR SAC.-CLEAR CR. TO SAC R./RRAC1-CLOUD COVER/%-CLOUD COVER//1HOUR/235.41.129.1.1/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR SAC.-CLEAR CR. TO SAC R./RRAC1-CLOUD COVER/%-CLOUD COVER//1HOUR/235.41.129.1.1/
Redding Airport, Wind Speed, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR SAC.-CLEAR CR. TO SAC R./KRDD-WIND SPEED/SPEED-WIND//1HOUR/235.40.133.1.1/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR SAC.-CLEAR CR. TO SAC R./KRDD-WIND SPEED/SPEED-WIND//1HOUR/235.40.133.1.1/
Redding Airport, Wind Direction, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR SAC.-CLEAR CR. TO SAC R./KRDD-WIND DIRECTION/DIR-WIND//1HOUR/235.40.133.1.2/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR SAC.-CLEAR CR. TO SAC R./KRDD-WIND DIRECTION/DIR-WIND//1HOUR/235.40.133.1.2/
Lewiston Res, Air Temperature, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR SAC.-LEWISTON RES./TCAC1 - CALC DATA-AIR TEMPERATURE/TEMP-AIR//1HOUR/232.6.53.1.1/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR SAC.-LEWISTON RES./TCAC1 - CALC DATA-AIR TEMPERATURE/TEMP-AIR//1HOUR/232.6.53.1.1/
Lewiston Res, Dewpoint Temperature, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR Sac.-Lewiston Res./TCAC1 - Calc Data-Dew Point/Temp-DewPoint//1Hour/232.6.51.1.1/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR Sac.-Lewiston Res./TCAC1 - Calc Data-Dew Point/Temp-DewPoint//1Hour/232.6.51.1.1/
Lewiston Res, Shortwave Radiation, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR SAC.-LEWISTON RES./TCAC1-SOLAR RADIATION/IRRAD-SOLAR//1HOUR/232.5.135.1.1/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR SAC.-LEWISTON RES./TCAC1-SOLAR RADIATION/IRRAD-SOLAR//1HOUR/232.5.135.1.1/
Lewiston Res, Wind Speed, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR SAC.-LEWISTON RES./TCAC1-WIND SPEED/SPEED-WIND//1HOUR/232.5.133.1.1/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR SAC.-LEWISTON RES./TCAC1-WIND SPEED/SPEED-WIND//1HOUR/232.5.133.1.1/
Lewiston Res, Wind Direction, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR SAC.-LEWISTON RES./TCAC1-WIND DIRECTION/DIR-WIND//1HOUR/232.5.133.1.2/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR SAC.-LEWISTON RES./TCAC1-WIND DIRECTION/DIR-WIND//1HOUR/232.5.133.1.2/
Trinity River, Cloudiness, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR SAC.-TRINITY RIVER/TCAC1 - CALC DATA-CLOUD COVER/%-CLOUD COVER//1DAY/236.9.129.1.1/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR SAC.-TRINITY RIVER/TCAC1 - CALC DATA-CLOUD COVER/%-CLOUD COVER//1DAY/236.9.129.1.1/
Trinity River, Air Temperature, shared\L3MTO_SacTrnMet_May2025_2019.dss, /MR SAC.-TRINITY RIVER/TCAC1 - CALC DATA-AIR TEMPERATURE/TEMP-AIR//1HOUR/236.9.53.1.1/, 1, forecast/simGroups/forecastGroup/bc.dss, /MR SAC.-TRINITY RIVER/TCAC1 - CALC DATA-AIR TEMPERATURE/TEMP-AIR//1HOUR/236.9.53.1.1/
